.bnt-box {
    height: 2.6rem;
    padding: 0;
    background-color: transparent;
    border: transparent;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale(1);
    position: relative;
    margin: 0 !important;
    border: 0 !important;
    display: flex !important;
    span {
        font-size: 1rem;
    }

    &:active {
        transform: scale(1.03);
    }

}

.bnt-box::after {
    content: '';
    position: absolute;
    left: 0.19rem;
    bottom: 0.19rem;
    width: 1.6rem;
    height: 1.6rem;
    background: #48b7f2;
    border-radius: 0.36rem;
    transform: rotate(45deg);
    z-index: -1;
}

.bnt-box::before {
    content: '';
    position: absolute;
    right: 0.19rem;
    top: 0.19rem;
    width: 1.6rem;
    height: 1.6rem;
    background: #48b7f2;
    border-radius: 0.36rem;
    transform: rotate(45deg);
    z-index: -1;
}

.bnt-box .button {
    width: 100%;
    height: 100%;
    padding: 0;
    clip-path: polygon(0 0,
            calc(100% - 1rem) 0,
            100% 1rem,
            100% calc(100% - 0px),
            calc(100% - 0px) 100%,
            1rem 100%,
            0 calc(100% - 1rem),
            0 0px);
    background: linear-gradient(45deg,
            #48b7f2 3px,
            rgba(72, 183, 242, 1) 0) bottom left,
        linear-gradient(-135deg, #48b7f2 3px, rgba(72, 183, 242, 1) 0) top right;
    background-repeat: no-repeat;
    font-size: 1rem;
    border-radius: 0.36rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.16rem 0.16rem;
    position: relative;
}

.bnt-box .button::after {
    content: '';
    position: absolute;
    left: 0.355rem;
    bottom: 0.355rem;
    width: 1.6rem;
    height: 1.6rem;
    background: rgba(3, 92, 171, 1);
    border-radius: 0.36rem;
    transform: rotate(45deg);
    z-index: -1;
}

.bnt-box .button::before {
    content: '';
    position: absolute;
    right: 0.355rem;
    top: 0.355rem;
    width: 1.6rem;
    height: 1.6rem;
    background: rgba(3, 92, 171, 1);
    border-radius: 0.36rem;
    transform: rotate(45deg);
    z-index: -1;
}

.bnt-box .button span {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0,
            calc(100% - 1rem) 0,
            100% 1rem,
            100% calc(100% - 0px),
            calc(100% - 0px) 100%,
            1rem 100%,
            0 calc(100% - 1rem),
            0 0px);
    background: linear-gradient(45deg,
            #48b7f2 3px,
            rgb(3 92 171) 0) bottom left,
        linear-gradient(-135deg, #48b7f2 3px, rgb(3 92 171) 0) top right;
    border-radius: 0.36rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}